.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', "Arial", "sans-serif";
}

.logo {
  position: relative; 
}

.logo_place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  position: absolute;
  left: 64px;
  width: 730px;
  display: flex;
  align-self: center;
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}


.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
  align-self: flex-end;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  object-fit: contain;
}

.description {
  padding-top: 100px;
}

.two-columns{
  display: flex;
  position: relative;
  width: 80%;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__paragraph-1 {
  margin: 0;
}

.two-columns__paragraph-2 {
  margin: 0;
  
}

.two-columns__paragraph-3 {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: auto;
  padding: 0;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 30px auto 0 auto;
  padding: 0;
  text-align: center;
}

.section-subtitle_text {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  width: 1100px;
  display: flex;
  margin: 0 auto 100px auto;
  flex-direction: row;
}

.table__cell {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.table__cell_heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__cell_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.table__cell-1 {
  width: 250px;
  margin-bottom: 60px;
}

.table__cell-1_heading {
  margin-bottom: 20px;
}

.table__cell-1_text {
  margin: 0;
}

.table__cell-2 {
  width: 250px;
  margin-bottom: 60px;
}

.table__cell-2_heading {
  padding-bottom: 20px;
}

.table__cell-2_text {
  margin: 0;
}

.table__cell-2_text2 {
  margin: 20px 0 0 0;
}

.table__cell-3 {
  width: 250px;
  margin-bottom: 60px;
}

.table__cell-3_heading {
  margin-bottom: 20px;
}

.table__cell-4 {
  width: 250px;
  margin-bottom: 60px;
}

.table__cell-4_heading {
  margin-bottom: 20px;
}

.table__cell-5 {
  width: 250px;
}

.table__cell-5_heading {
  padding-bottom: 20px;
}

.table__cell-5_text {
  margin: 0;
}

.table__cell-5_text2 {
  margin: 20px 0 0 0;
}

.table__cell-6 {
  width: 250px;
}

.table__cell-6_heading {
  margin-bottom: 20px;
}

.table__cell-7 {
  width: 250px;
}

.table__cell-7_heading {
  margin-bottom: 20px;
}

.table__cell-8 {
  width: 250px;
}

.table__cell-8_heading {
  margin-bottom: 20px;
}

.feynman {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  height: 890px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.background-pic {
  display: flexbox;
  flex-direction: row;
  justify-items: flex-end;
  align-items: baseline;
}

.background-pic_img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
  margin-top: 0;
  margin-bottom: auto;
}

.feynman__link {
  position: absolute;
  top: calc(890px - 50%);
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.kaufman {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.section-title_theme_dark  {
  width: 60%;
  margin: auto;
  padding: 0;
  text-align: center;
  color: white;
}

.section-title__text_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 20px auto 0 auto;
  padding: 0;
  text-align: center;
}

.section-subtitle__text_theme_dark {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  margin: 0 auto 100px auto;
  flex-direction: row;
}

.table__cell_theme_dark {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}


.table__cell_heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.table__cell_text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: white;
  z-index: 2;
}

.table__cell-1_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__cell-1_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-1_text_theme_dark {
  margin: 0;
  z-index: 2;
}

.table__cell-2_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__cell-2_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-3_text_theme_dark {
  margin: 0;
}

.table__cell-3_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__cell-3_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-4_text_theme_dark {
  margin: 0;
}

.table__cell-4_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__cell-4_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-4_text_theme_dark {
  margin: 0;
}

.table__cell-5_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 2;
}

.table__cell-5_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-5_text_theme_dark {
  margin: 0;
}

.table__cell-6_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
}

.table__cell-6_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-6_text_theme_dark {
  margin: 0;
}

.table__cell-7_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
}

.table__cell-7_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-7_text_theme_dark {
  margin: 0;
}

.table__cell-8_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
}

.table__cell-8_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-8_text_theme_dark {
  margin: 0;
}

.table__cell-9_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
}

.table__cell-9_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-9_text_theme_dark {
  margin: 0;
}

.table__cell-10_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 2;
}

.table__cell-10_heading_theme_dark {
  margin-bottom: 20px;
}

.table__cell-10_text_theme_dark {
  margin: 0;
}

.kaufman__triangle {
  position: absolute;
  display: flex;
  top: 0;
  right: -210px;
  margin: 0;
  width: 877px;
  height: 877px;
  z-index: 1;
}

.kaufman__triangle_img {
  margin-bottom: 0;
}

.footer {
  display: flex;
  position: relative;
  background-color: black;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__columns {
  display: flex;
  position: absolute;
  width: 90%;
  color: #f2f2f2;
  flex-direction: row; 
}

.footer__column_content-copyright {
  flex-basis: 711px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-content {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  align-items: center;
}

.footer__column_content-info {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400; 
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0; 
}

.footer__column-links {
  text-decoration: none;
  color: #f2f2f2;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0;
}

.footer__column_content-social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  margin: 0; 
}

.footer__column_content-social-2 {
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 18px; 
}

.footer__social-icon_img {
  height: 16px;
  width: 16px;
}

.footer__social-icon_fb {
  display: flex;
  flex-direction: row;
}

.footer__social-icon_vk {
  display: flex;
  flex-direction: row;
}

.footer__social-icon_inst {
  display: flex;
  flex-direction: row;
}

.footer__column-links-2 {
  text-decoration: none;
  color: #f2f2f2;
  list-style: none;
  padding-left: 10px;
}